global-reset()

*
  box-sizing(border-box)

*:before,
*:after
  box-sizing(border-box)

// android no highlight
*{-webkit-tap-highlight-color: rgba(0,0,0,0);}

body
  font-size: 14px
  font-family: 'Microsoft YaHei', Helvetica, Arial, Sans-serif
  -webkit-font-smoothing: antialiased
  word-break: break-all

a
  text-decoration: none

  &:hover,
  &:focus
    text-decoration: none

  &:focus
    tab-focus()

.clearfix
  clearfix()

