global-reset()

*
  box-sizing(border-box)

*:before,
*:after
  box-sizing(border-box)

// android no highlight
*{-webkit-tap-highlight-color: rgba(0,0,0,0);}

body
  font-size: 14px
  font-family: 'Microsoft YaHei' Helvetica, Arial, Sans-serif
  color: $text_color
  background: $page_bg
  -webkit-font-smoothing: antialiased
  word-break: break-all

a
  color: $brand_pink
  text-decoration: none

  &:hover,
  &:focus
    text-decoration: none
    color: $brand_pink

  &:focus
    tab-focus()

.hide
  display: none !important

.clearfix
  clearfix()

